{% extends 'base.html' %}

{% block title %} | {{ listing.title }} {% endblock %}

{% block content %}

  <!-- Breadcrumb -->
  <section id="bc" class="mt-12">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'items' %}">Items</a>
          </li>
          <li class="breadcrumb-item active">{{ item.title }}</li>
        </ol>
      </nav>
    </div>
  </section>

   <!-- Listing -->
  <section id="item" class="py-12">
    <div class="container">
      <a href="{% url 'items' %}" class="btn btn-light mb-2">Back To Items</a>
      <!-- <div class="row"> -->
        <div class="col-md-12">
          <!-- Home Main Image -->
          <img src="{{ item.photo_main.url }}" alt="" class="img-main img-fluid mb-3">
          <!-- Thumbnails -->
          <!-- <div class="row mb-5 thumbs"> -->
            {% if item.photo_front %}
            <div class="col-md-12">
              <a href="{{ item.photo_front.url }}" data-lightbox="home-images">
                <img src="{{ item.photo_front.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if item.photo_back %}
            <div class="col-md-12">
              <a href="{{ item.photo_back.url }}" data-lightbox="home-images">
                <img src="{{ item.photo_back.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}       
          <!-- </div> -->
        </div>
        <div class="col-md-12">
            <img class="card-img-top" src="{{ item.seller.photo.url }}" alt="">
          </div>
        <!-- </div> -->
      </div>
    </div>
  </section>









          <!-- Fields -->
          <div class="row mb-123 fields">
            <div class="col-md-12">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  Title:
                  <span class="float-right">{{ item.title }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  Description:
                  <span class="float-right">{{ item.description }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  Listed Category:
                  <span class="float-right">{{ item.category_list }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  Date/Time Listed:
                  <span class="float-right">{{ item.date_listed }}
                  </span>
                </li>
              </ul>
            </div>
          </div>
            
{% endblock %}